# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Build files
build/
dist/
*.egg-info/

# Logs
*.log
logs/

# Models
*.pkl
*.joblib
models/*.pkl
models/*.joblib

# Environment
.env

# OS
.DS_Store
Thumbs.db

# Outputs
outputs/

# Large datasets
data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep


# CatBoost
catboost_info/

# TensorBoard
runs/

# Temporary notebooks
notebooks/note.ipynb